@font-face {
    font-family: Atifont;
    src: url(../fonts/Josefin/static/JosefinSans-Regular.ttf) format("truetype");
}
  
p {
    color: snow;
    text-align: center;
    font-family: Atifont;
}

h2 {
    text-align: center;
    color: snow;
    margin-top: 20px;
    font-family: Atifont;
}

#gibson {
    border-radius: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 100%;
}

body {
    background-color: rgb(30, 30, 30);
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.navbar {
    width: 100%;
    display: flex;
}

.guitarlist {
    border-radius: 24px;
}

.menubutton {
    text-decoration: none;
    color: snow;
    background-color: rgb(25, 25, 25);
    border: none;
    padding: 5px;
    display: block;
    width: 100%;
    transition: 400ms;
    flex: 1;
    font-family: Atifont;
    font-size: 18px;

    > a {
        text-decoration: none;
        color: snow;
        width: 100%;
        height: 100px;
        display: inline-block;
        line-height: 100px;
    }

    &:hover {
        > a {
            color: black;
        }

        text-decoration: none;
        background-color: snow;
        color: rgb(25, 25, 25);
    }

    &:active {
        text-decoration: none;
        background-color: snow;
        color: rgb(25, 25, 25);
    }
}

.dropdown_container {
    opacity: 0;
    transition: 0.3s;
    height: 0px;
    background-color: snow;
    margin: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    padding: 0px;
}

.dropdown_menu {
    &:hover {
        .dropdown_container {
            opacity: 1;
            transition: 0.3s;
            height: 100px;
            margin: 0;
        }

        > .menubutton {
            text-decoration: none;
            background-color: snow;
            color: rgb(25, 25, 25);

            > a {
                color: black;
            }
        }
    }

    position: relative;
    flex: 1;
    z-index: 2;

/*az alattam lévő elemek hozzám pozícionálják magukat, nem a bodyhoz
    width: calc(100vw - 600px) van ien*/
}

.dropdown_item {
    list-style: none;
    padding: 4px 16px;
    font-size: 15px;
    transition: 0.3s;
    font-family: Atifont;

    > a {
        color: black;
        text-decoration: none;
    }

    &:hover {
        background-color: black;
        color: snow;

        > a {
            color: snow;
        }
    }
}

@media (max-width: 640px) {
    .left_aligned, .right_aligned {
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }

    .left_aligned span, .right_aligned span {
        text-align: center;
    }

    .navbar {
        display: none;
    }
}

.newsbutton_container {
    height: 255.6px;
    width: 384px;
    display: block;
    float: left;
    background-color: black;
    position: relative;
    cursor: pointer;
    margin: 20px;

    &:hover .news_text {
        background-color: snow;
        color: black;
    }

    .news_text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: rgb(40, 40, 40);
        color: snow;
        width: 50%;
        height: 80px;
        max-height: 50%;
        text-align: left;
        padding: 8px;
        font-family: Atifont;
        font-size: 18px;
        user-select: none;
        transition: 0.3s;
    }

    > img {
        transition: 0.3s;
        opacity: 0.7;
        height: 255.6px;
        width: 384px;
    }

    &:hover > img {
        opacity: 1;
    }
}

/* 10.23 webshop gitárok feltöltése */

.webshop_container {
    width: 100%;
    height: 100%;
    display: inline-flex;
    background-color: black;
    position: relative;
    cursor: pointer;
    margin: auto;

    &:hover .webshop_text {
        background-color: snow;
        color: black;
    }

    .webshop_text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: rgb(40, 40, 40);
        color: snow;
        width: 80%;
        height: 30px;
        max-height: 50%;
        text-align: left;
        padding: 8px;
        font-family: Atifont;
        font-size: 18px;
        user-select: none;
        transition: 0.3s;
    }

    > img {
        transition: 0.3s;
        opacity: 0.7;
    }

    &:hover > img {
        opacity: 1;
    }
}

.invisible_link {
    text-decoration: none;
}

.shop_invisible_link {
    text-decoration: none;
    display: inline-block;
    width: 280px;
    height: 280px;
    margin: 16px;
}

/* áru felsorolás*/

.item_box {
    width: 280px;
    height: 280px;
    float: left;
    display: block;
    margin: 16px;
    z-index: 1;
}

.item_details_box {
    display: none;
}

.item_image {
    transition: 0.9s;
    opacity: 0.7;
    width: 280px;
    height: 280px;
}

.item_box:hover > {
    .item_image {
        opacity: 1;
        cursor: pointer;
    }

    .item_details_box {
        display: inline-block;
        z-index: 2;
        position: absolute;
        text-align: left;
        padding: 10px;
        text-decoration: none;
        font-family: Atifont;
        font-size: 18px;
        background-color: snow;
    }
}

.item_link {
    &:visited, &:hover, &:active {
        color: rgb(25, 25, 25);
    }
}

/* footer + elektro-akusztikus gitároldal*/


.main {
    overflow: auto;
}

.footer_container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(25, 25, 25);
    text-align: left;
    color: snow;
    transition: 400ms;

    &:hover {
        background-color: rgb(40, 40, 40);
    }

    h4 {
        font-size: 14pt;
    }

    .footer_box {
        padding: 10px;
        width: 18%;
        list-style: none;
        font-family: atifont;
    }

    li {
        padding: 0px 0px 10px 0px;
    }

    .footer_link {
        text-decoration: none;
        font-family: atifont;
        color: snow;
        &:visited, &:hover, &:active {
            color: snow;
        }
        &:hover {
            color:gray;
        }
    }
}

/*vintage page */

.vintage_img {
    width: 420px;

}